=begin
#Live API Reference

#Reference for the Brightcove Live API, used to create and manage live streaming events.

OpenAPI spec version: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.0.1

=end

require 'uri'

module BrightcoveLive
  class LiveJobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate_SEP_Stream
    # Activate SEP (static entry point) Stream 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [ActivateSepStream200]
    def activate_sep_stream(job_id, content_type, x_api_key, opts = {})
      data, _status_code, _headers = activate_sep_stream_with_http_info(job_id, content_type, x_api_key, opts)
      data
    end

    # Activate_SEP_Stream
    # Activate SEP (static entry point) Stream 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivateSepStream200, Fixnum, Hash)>] ActivateSepStream200 data, response status code and response headers
    def activate_sep_stream_with_http_info(job_id, content_type, x_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.activate_sep_stream ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LiveJobsApi.activate_sep_stream"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.activate_sep_stream"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.activate_sep_stream"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}/activate'.sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivateSepStream200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#activate_sep_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel_Live_Job
    # Cancel a live stream 
    # @param job_id Live job ID
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [CancelLiveJob200]
    def cancel_live_job(job_id, x_api_key, opts = {})
      data, _status_code, _headers = cancel_live_job_with_http_info(job_id, x_api_key, opts)
      data
    end

    # Cancel_Live_Job
    # Cancel a live stream 
    # @param job_id Live job ID
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelLiveJob200, Fixnum, Hash)>] CancelLiveJob200 data, response status code and response headers
    def cancel_live_job_with_http_info(job_id, x_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.cancel_live_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LiveJobsApi.cancel_live_job"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.cancel_live_job"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}/cancel'.sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CancelLiveJob200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#cancel_live_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create_a_Live_Job
    # Create a live stream 
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param create_a_live_jobbody Create a live stream
    # @param [Hash] opts the optional parameters
    # @return [CreateALiveJob200]
    def create_a_live_job(content_type, x_api_key, create_a_live_jobbody, opts = {})
      data, _status_code, _headers = create_a_live_job_with_http_info(content_type, x_api_key, create_a_live_jobbody, opts)
      data
    end

    # Create_a_Live_Job
    # Create a live stream 
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param create_a_live_jobbody Create a live stream
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateALiveJob200, Fixnum, Hash)>] CreateALiveJob200 data, response status code and response headers
    def create_a_live_job_with_http_info(content_type, x_api_key, create_a_live_jobbody, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.create_a_live_job ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.create_a_live_job"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.create_a_live_job"
      end
      # verify the required parameter 'create_a_live_jobbody' is set
      if @api_client.config.client_side_validation && create_a_live_jobbody.nil?
        fail ArgumentError, "Missing the required parameter 'create_a_live_jobbody' when calling LiveJobsApi.create_a_live_job"
      end
      # resource path
      local_var_path = '/v1/jobs'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_a_live_jobbody)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CreateALiveJob200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#create_a_live_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Stop_Live_Job
    # End a live stream 
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param job_id
    # @return [StopLiveJob200]
    def stop_live_job(content_type, x_api_key, job_id)
      data, _status_code, _headers = stop_live_job_with_http_info(content_type, x_api_key, job_id)
      data
    end

    # Stop_Live_Job
    # End a live stream 
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param job_id
    # @return [Array<(StopLiveJob200, Fixnum, Hash)>] StopLiveJob200 data, response status code and response headers
    def stop_live_job_with_http_info(content_type, x_api_key, job_id)
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.stop_live_job ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.stop_live_job"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.stop_live_job"
      end
      # resource path
      local_var_path = "/v1/jobs/#{job_id}/stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :auth_names => auth_names,
        :return_type => 'StopLiveJob200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#stop_live_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deactivate_SEP_Stream
    # Deactivate SEP (static entry point) Stream 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [DeactivateSepStream200]
    def deactivate_sep_stream(job_id, content_type, x_api_key, opts = {})
      data, _status_code, _headers = deactivate_sep_stream_with_http_info(job_id, content_type, x_api_key, opts)
      data
    end

    # Deactivate_SEP_Stream
    # Deactivate SEP (static entry point) Stream 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeactivateSepStream200, Fixnum, Hash)>] DeactivateSepStream200 data, response status code and response headers
    def deactivate_sep_stream_with_http_info(job_id, content_type, x_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.deactivate_sep_stream ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LiveJobsApi.deactivate_sep_stream"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.deactivate_sep_stream"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.deactivate_sep_stream"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}/deactivate'.sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DeactivateSepStream200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#deactivate_sep_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get_Live_Job_Details
    # Get Live Job Details 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [Job]
    def get_live_job_details(job_id, content_type, x_api_key, opts = {})
      data, _status_code, _headers = get_live_job_details_with_http_info(job_id, content_type, x_api_key, opts)
      data
    end

    # Get_Live_Job_Details
    # Get Live Job Details 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Job, Fixnum, Hash)>] Job data, response status code and response headers
    def get_live_job_details_with_http_info(job_id, content_type, x_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.get_live_job_details ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LiveJobsApi.get_live_job_details"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.get_live_job_details"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.get_live_job_details"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Job')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#get_live_job_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Insert_ID3_timed_metadata
    # Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param insert_id3_timed_metadatabody Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI
    # @param [Hash] opts the optional parameters
    # @return [InsertId3TimedMetadata200]
    def insert_id3_timed_metadata(job_id, content_type, x_api_key, insert_id3_timed_metadatabody, opts = {})
      data, _status_code, _headers = insert_id3_timed_metadata_with_http_info(job_id, content_type, x_api_key, insert_id3_timed_metadatabody, opts)
      data
    end

    # Insert_ID3_timed_metadata
    # Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param insert_id3_timed_metadatabody Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsertId3TimedMetadata200, Fixnum, Hash)>] InsertId3TimedMetadata200 data, response status code and response headers
    def insert_id3_timed_metadata_with_http_info(job_id, content_type, x_api_key, insert_id3_timed_metadatabody, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.insert_id3_timed_metadata ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LiveJobsApi.insert_id3_timed_metadata"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.insert_id3_timed_metadata"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.insert_id3_timed_metadata"
      end
      # verify the required parameter 'insert_id3_timed_metadatabody' is set
      if @api_client.config.client_side_validation && insert_id3_timed_metadatabody.nil?
        fail ArgumentError, "Missing the required parameter 'insert_id3_timed_metadatabody' when calling LiveJobsApi.insert_id3_timed_metadata"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}/id3tag'.sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(insert_id3_timed_metadatabody)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InsertId3TimedMetadata200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#insert_id3_timed_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List_Live_Jobs
    # List live jobs - for additional useful information on the search filters, see [Getting a List of Live or VOD Jobs](https://support.brightcove.com/getting-list-live-or-vod-jobs)
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_token Next token from previous page; do not specify when fetching first page
    # @option opts [Integer] :page_size Max number of jobs to return in one request (1-1000, default is 10) (default to 10)
    # @option opts [String] :sort Attribute to sort jobs by (&#x60;created_at&#x60; | &#x60;modified_at&#x60;, default is &#x60;created_at&#x60;) (default to 'created_at')
    # @option opts [String] :sort_dir Sort direction (default is asc):&#x60;asc&#x60; - ascending; &#x60;desc&#x60; - descending (default to 'asc')
    # @option opts [Object] :user_id Filter results by one or more user IDs
    # @option opts [String] :account_id Filter results by particular account, or specify ‘*’ to search all accounts.  Default value is account API key belongs to
    # @option opts [Integer] :created_at Filter results by Unix time of job creation (in milliseconds)
    # @option opts [Integer] :modified_at Filter results by Unix time of job last modified (in milliseconds)
    # @option opts [BOOLEAN] :ad_insertion Filter results by is SSAI enabled
    # @option opts [BOOLEAN] :static Filter results by has static endpoint
    # @option opts [Object] :state Filter results by one or more job states
    # @option opts [Object] :ssai_state Filter results by one or more SSAI states
    # @option opts [Object] :region Filter results by one or more regions
    # @return [ListLiveJobs200]
    def list_live_jobs(content_type, x_api_key, opts = {})
      data, _status_code, _headers = list_live_jobs_with_http_info(content_type, x_api_key, opts)
      data
    end

    # List_Live_Jobs
    # List live jobs - for additional useful information on the search filters, see [Getting a List of Live or VOD Jobs](https://support.brightcove.com/getting-list-live-or-vod-jobs)
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_token Next token from previous page; do not specify when fetching first page
    # @option opts [Integer] :page_size Max number of jobs to return in one request (1-1000, default is 10)
    # @option opts [String] :sort Attribute to sort jobs by (&#x60;created_at&#x60; | &#x60;modified_at&#x60;, default is &#x60;created_at&#x60;)
    # @option opts [String] :sort_dir Sort direction (default is asc):&#x60;asc&#x60; - ascending; &#x60;desc&#x60; - descending
    # @option opts [Object] :user_id Filter results by one or more user IDs
    # @option opts [String] :account_id Filter results by particular account, or specify ‘*’ to search all accounts.  Default value is account API key belongs to
    # @option opts [Integer] :created_at Filter results by Unix time of job creation (in milliseconds)
    # @option opts [Integer] :modified_at Filter results by Unix time of job last modified (in milliseconds)
    # @option opts [BOOLEAN] :ad_insertion Filter results by is SSAI enabled
    # @option opts [BOOLEAN] :static Filter results by has static endpoint
    # @option opts [Object] :state Filter results by one or more job states
    # @option opts [Object] :ssai_state Filter results by one or more SSAI states
    # @option opts [Object] :region Filter results by one or more regions
    # @return [Array<(ListLiveJobs200, Fixnum, Hash)>] ListLiveJobs200 data, response status code and response headers
    def list_live_jobs_with_http_info(content_type, x_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.list_live_jobs ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.list_live_jobs"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.list_live_jobs"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LiveJobsApi.list_live_jobs, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LiveJobsApi.list_live_jobs, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && opts[:'sort'] && !['created_at', 'modified_at'].include?(opts[:'sort'])
        fail ArgumentError, 'invalid value for "sort", must be one of created_at, modified_at'
      end
      if @api_client.config.client_side_validation && opts[:'sort_dir'] && !['asc', 'desc'].include?(opts[:'sort_dir'])
        fail ArgumentError, 'invalid value for "sort_dir", must be one of asc, desc'
      end
      # resource path
      local_var_path = '/v1/jobs'

      # query parameters
      query_params = {}
      query_params[:'start_token'] = opts[:'start_token'] if !opts[:'start_token'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'sort_dir'] = opts[:'sort_dir'] if !opts[:'sort_dir'].nil?
      query_params[:'user_id'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'modified_at'] = opts[:'modified_at'] if !opts[:'modified_at'].nil?
      query_params[:'ad_insertion'] = opts[:'ad_insertion'] if !opts[:'ad_insertion'].nil?
      query_params[:'static'] = opts[:'static'] if !opts[:'static'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'ssai_state'] = opts[:'ssai_state'] if !opts[:'ssai_state'].nil?
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListLiveJobs200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#list_live_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Manual_Ad_Cue_Point_Insertion
    # Inserts a manual Cue-Out with a duration to the Live ingest point. 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param manual_ad_cue_point_insertionbody Inserts a manual Cue-Out with a duration to the Live ingest point.
    # @param [Hash] opts the optional parameters
    # @return [ManualAdCuePointInsertion200]
    def manual_ad_cue_point_insertion(job_id, content_type, x_api_key, manual_ad_cue_point_insertionbody, opts = {})
      data, _status_code, _headers = manual_ad_cue_point_insertion_with_http_info(job_id, content_type, x_api_key, manual_ad_cue_point_insertionbody, opts)
      data
    end

    # Manual_Ad_Cue_Point_Insertion
    # Inserts a manual Cue-Out with a duration to the Live ingest point. 
    # @param job_id Live job ID
    # @param content_type Content-Type: application/json
    # @param x_api_key X-API-KEY: {APIKey}
    # @param manual_ad_cue_point_insertionbody Inserts a manual Cue-Out with a duration to the Live ingest point.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManualAdCuePointInsertion200, Fixnum, Hash)>] ManualAdCuePointInsertion200 data, response status code and response headers
    def manual_ad_cue_point_insertion_with_http_info(job_id, content_type, x_api_key, manual_ad_cue_point_insertionbody, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveJobsApi.manual_ad_cue_point_insertion ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LiveJobsApi.manual_ad_cue_point_insertion"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LiveJobsApi.manual_ad_cue_point_insertion"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LiveJobsApi.manual_ad_cue_point_insertion"
      end
      # verify the required parameter 'manual_ad_cue_point_insertionbody' is set
      if @api_client.config.client_side_validation && manual_ad_cue_point_insertionbody.nil?
        fail ArgumentError, "Missing the required parameter 'manual_ad_cue_point_insertionbody' when calling LiveJobsApi.manual_ad_cue_point_insertion"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}/cuepoint'.sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Content-Type'] = content_type
      header_params[:'X-API-KEY'] = x_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(manual_ad_cue_point_insertionbody)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ManualAdCuePointInsertion200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveJobsApi#manual_ad_cue_point_insertion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
